.timer {
    min-height: 250px;
}

.timerclock {
    position: absolute;
    bottom: 0;
    display: inline-block;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Lucida Console", "Lucida Sans Typewriter", "Consolas", monospace;
}

input {
    text-align: center;
    font-size:0.9rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top:3rem;
    border-left: 0;
    border-right: 0;
}

input:focus {
    border-left: 0;
    border-right: 0;
}

.timer-close-button {
    color: #8a8a8a;
    cursor: pointer;
    font-size: 1.4rem;
    line-height: 1;
    position: absolute;
    top: -0.2rem;
    right: 0.2rem;
}

.timer-close-button:hover {
    color:#000000;
}

.timerclock .digits {
    font-size:2.0rem;
}
