<div [class]="divClass + ' timer'">
    <a 
        *ngIf="showCloseButton" 
        class="timer-close-button" 
        (click)="close()">
        &times;
    </a>
    <input type="text" [(ngModel)]="name" />
    <div class="timerclock">
        <span class="digits">{{runtime[0]}}</span><span class="unit">H</span>
        <span class="digits">{{runtime[1]}}</span><span class="unit">M</span>
        <span class="digits">{{runtime[2] | number:'2.0-0'}}.{{runtime[3] | number:'2.0-0'}}</span><span class="unit">S</span> 
        <span class="fractional-hours">({{fractionalHours | number:'1.2-2'}}H)</span>
    </div>
</div>
